#mainbutton {
    -fx-padding: 15px 32px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-margin: 4px 2px;
    -fx-cursor: pointer;
    -fx-background-color: white;
    -fx-border-style:solid;
    -fx-border-color: black;
    -fx-pref-height: 49px;
}

#mainbutton:hover {
    -fx-background-color: black;
    -fx-text-fill:white;
}

#picturebutton{
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-margin: 4px 2px;
    -fx-cursor: pointer;
    -fx-border-color: black;    
    -fx-background-color: black;
    -fx-text-fill:white;
}

#picturebutton:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

#TextField {
    -fx-border-color: black;
    -fx-background-radius: 0px;
    -fx-text-fill:white;
}

#TextArea {
    -fx-border-color: black;
    -fx-background-radius: 0px;
    -fx-text-fill:white;
}

#ComboBox {
    -fx-border-color: black;
    -fx-background-radius: 0px;
    -fx-background-color: white;
}

#menubutton {
    -fx-background-color: black;
    -fx-font-size: 14.0;
    -fx-font-weight: Bold;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

#menubutton:hover {
    -fx-background-color: #666666;
}

#splitter {
    -fx-background-color: #666666;
    -fx-prefHeight: 49.0;
    -fx-prefWidth: 2.0;
}
#background {
     -fx-background-image: url("../images/bg.jpg");
}

#pagestyle{
   -fx-border-width: 0 2 0 2; 
   -fx-border-color: #d9d9d9; 
   -fx-background-color: white;
}


.table-view .column-header-background{
    -fx-background-color: #d9d9d9;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #666666;
}

.table-row-cell{
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #21a5d1;
    /* -fx-border-color:red; */
    -fx-text-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

#mail_VBox {
    -fx-background-color: white; 
    -fx-border-color: lightgrey;
}

#mail_VBoxShowClose {
    -fx-background-radius: 0; 
    -fx-background-color: white; 
    -fx-border-color: lightgrey; 
    -fx-border-width: 2;
}